/* #blogs {
  width: 100%;
}
#blogs h1 {
  font-size: 3.5rem;
  padding-left: 3%;
  margin-bottom: 3vw;
}

#blogs .allBlogCards {
  width: 90%;
  padding-left: 3%;
  padding-left: 3%;
}

#blogs .col {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  transition: all 0.5s ease-in-out;
}
#blogs .col:hover {
  background-color: rgba(128, 128, 128, 0.8);
}
#blogs .col:hover p {
  transition: all 0.5s;
}
#blogs .col:hover h3,
#blogs .col:hover p {
  color: black;
  text-shadow: grey 0 0 3px;
}
#blogs .col h2 {
  font-size: 2.9vw;
}
#blogs .col p {
  font-size: 1.3vw;
}

@media screen and (max-width: 900px) {
  #blogs h1 {
    font-size: xx-large;
    text-align: center;
  }
  #blogs .allBlogCards {
    width: 100%;
  }
  #blogs .col {
    margin: auto;
    height: 40vw !important;
  }
  #blogs .col > a {
    width: 100%;
  }
  #blogs .col h2 {
    font-size: larger;
    text-align: center;
  }
  #blogs .col p {
    font-size: x-small;
    color: rgb(190, 190, 190);
  }
}



#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#blog > h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 25px;
}

#blog > p {
  width: 80%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

#blog .date-and-read {
  font-size: 1.2rem !important;
  font-size: x-large;
  text-align: end;
}

#blog .blog-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.5);
  width: 90%;
  padding: 6%;
  border-radius: 20px;
}
#blog .blog-content h1,
#blog .blog-content h2,
#blog .blog-content h3,
#blog .blog-content p,
#blog .blog-content em,
#blog .blog-content strong,
#blog .blog-content u,
#blog .blog-content li,
#blog .blog-content code {
  color: black;
}
#blog .blog-content h1,
#blog .blog-content h2,
#blog .blog-content h3,
#blog .blog-content blockquote,
#blog .blog-content p {
  margin-bottom: 20px;
}
#blog .blog-content h1 {
  font-size: 2.8rem;
}
#blog .blog-content h2 {
  font-size: 2rem;
  margin-left: 10px;
}
#blog .blog-content h3 {
  margin-left: 30px;
  font-size: 1.5rem;
}
#blog .blog-content p {
  margin-left: 20px;
}
#blog .blog-content li {
  margin-left: 20px;
}
#blog .blog-content blockquote {
  margin: 0%;
  font-style: italic;
}
#blog .blog-content code {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#blog .blog-content p,
#blog .blog-content em,
#blog .blog-content strong {
  font-size: 1.2rem;
  line-height: 2rem;
}

#blog .blog-content img {
  border-radius: 15px;
}

#blog .blog-content img[alt~="small-width"] {
  width: 40%;
}

#blog .blog-content img[alt~="medium-width"] {
  width: 50%;
}

#blog .blog-content img[alt~="big-width"] {
  width: 65%;
}

#blog .author {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  width: 30%;
  height: auto;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 1%;
  padding: 2%;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

#blog .author:hover {
  background-color: rgba(240, 248, 255, 0.5);
  text-shadow: black 0 0 3px, black 0 0 5px;
}

#blog .author .imageContainer {
  position: relative;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

#blog .author:hover .imageContainer {
  box-shadow: black 0 0 10px;
}

#blog .author .name-and-socials {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#blog .author .name-and-socials h2 {
  font-size: x-large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#blog .author .name-and-socials h2:hover {
  color: rgb(35, 35, 35);
  text-shadow: none;
}

#blog .author .socials {
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 2rem;
}
#blog .author .socials svg {
  height: 100%;
  width: auto;
}
#blog .author .socials path {
  color: white;
  transition: all 0.3s ease-in-out;
}

#blog .author .socials svg:hover path {
  color: rgb(35, 35, 35);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #blog > h1 {
    font-size: 2.2rem;
  }
  #blog > p {
    font-size: medium;
  }
  #blog .date,
  #blog .minRead {
    font-size: medium;
  }
  #blog .blog-content {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
  }
  #blog .blog-content p,
  #blog .blog-content em,
  #blog .blog-content strong {
    font-size: medium;
    line-height: 2rem;
  }
  #blog .blog-content img[alt~="small-width"] {
    width: 50%;
  }
  #blog .blog-content img[alt~="medium-width"] {
    width: 60%;
  }
  #blog .blog-content img[alt~="big-width"] {
    width: 80%;
  }
  #blog .author {
    background-color: rgba(240, 248, 255, 0.5);
    width: 60vw;
    height: 35vw;
    margin-right: 5%;
    margin-top: 5%;
    padding: 1%;
  }
  #blog .author:hover {
    text-shadow: none;
  }
  #blog .author .imageContainer {
    width: 17vw;
    height: 17vw;
  }
  #blog .author .name-and-socials {
    width: 50%;
  }
  #blog .author .name-and-socials h2 {
    color: black;
  }

  #blog .author .socials {
    height: 30px;
    font-size: 2rem;
  }
  #blog .author .socials path {
    color: black;
  }
} */

#blogs {
  padding-left: 5%;
  padding-right: 5%;
}

#blogs h1 {
  margin-bottom: 40px;
  font-size: 3.5rem;
}

#blogs .row a {
  flex-direction: column;
  cursor: none;
  height: 23vw;
}

#blogs .col {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 20px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

#blogs .col:hover {
  background-color: rgba(200, 200, 200, 0.85);
}
#blogs .col:hover p {
  transition: all 0.5s;
}
#blogs .col:hover h3,
#blogs .col:hover p {
  color: black;
  text-shadow: grey 0 0 3px;
}
#blogs .col h2 {
  font-size: 2.3vw;
}
#blogs .col p {
  font-size: 1.15vw;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  #blogs h1 {
    font-size: xx-large;
    text-align: center;
  }
  #blogs .row a {
    height: 45vw;
  }
  #blogs .col {
    margin: 0;
    padding: 10px;
  }
  #blogs .col h2 {
    font-size: larger;
    text-align: center;
  }
  #blogs .col p {
    font-size: x-small;
    color: rgb(190, 190, 190);
  }
}

#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#blog > h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 25px;
}

#blog > p {
  width: 80%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

#blog .date-and-read {
  font-size: x-large;
  text-align: end;
}

#blog .blog-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.95);
  width: 90%;
  padding: 6%;
  border-radius: 20px;
  cursor: default;
}
#blog .blog-content h1,
#blog .blog-content h2,
#blog .blog-content h3,
#blog .blog-content p,
#blog .blog-content em,
#blog .blog-content strong,
#blog .blog-content u,
#blog .blog-content li,
#blog .blog-content code {
  color: black;
}
#blog .blog-content strong,
#blog .blog-content em,
#blog .blog-content u,
#blog .blog-content li,
#blog .blog-content code {
  font-size: inherit !important;
}
#blog .blog-content h1 {
  font-size: 2.3rem;
}
#blog .blog-content h2 {
  font-size: 1.8rem;
  margin-left: 10px;
}
#blog .blog-content h3 {
  margin-left: 20px;
  font-size: 1.5rem;
}
#blog .blog-content p {
  font-size: 1.5rem;
  margin-left: 20px;
}
#blog .blog-content li {
  margin-left: 20px;
}
#blog .blog-content blockquote {
  margin: 0%;
  font-style: italic;
}
#blog .blog-content code {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#blog .blog-content p,
#blog .blog-content em,
#blog .blog-content strong {
  font-size: 1.2rem;
  line-height: 2rem;
}

#blog .blog-content img {
  border-radius: 15px;
}

#blog .blog-content img[alt~="small-width"] {
  width: 40%;
}

#blog .blog-content img[alt~="medium-width"] {
  width: 50%;
}

#blog .blog-content img[alt~="big-width"] {
  width: 65%;
}

#blog .author {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  width: 30%;
  height: auto;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 1%;
  padding: 2%;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

#blog .author:hover {
  background-color: rgba(240, 248, 255, 0.5);
  text-shadow: black 0 0 3px, black 0 0 5px;
}

#blog .author .imageContainer {
  position: relative;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

#blog .author:hover .imageContainer {
  box-shadow: black 0 0 10px;
}

#blog .author .name-and-socials {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#blog .author .name-and-socials h2 {
  font-size: x-large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#blog .author .name-and-socials h2:hover {
  color: rgb(35, 35, 35);
  text-shadow: none;
}

#blog .author .socials {
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 2rem;
}
#blog .author .socials svg {
  height: 100%;
  width: auto;
}
#blog .author .socials path {
  color: white;
  transition: all 0.3s ease-in-out;
}

#blog .author .socials svg:hover path {
  color: rgb(35, 35, 35);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #blog > h1 {
    font-size: 2.2rem;
  }
  #blog > p {
    font-size: medium;
  }
  #blog .date-and-read {
    font-size: small !important;
    text-align: center;
  }
  #blog .blog-content {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
  }
  #blog .blog-content p,
  #blog .blog-content em,
  #blog .blog-content strong {
    font-size: medium;
    line-height: 2rem;
  }
  #blog .blog-content img[alt~="small-width"] {
    width: 50%;
  }
  #blog .blog-content img[alt~="medium-width"] {
    width: 60%;
  }
  #blog .blog-content img[alt~="big-width"] {
    width: 80%;
  }
  #blog .author {
    background-color: rgba(240, 248, 255, 0.5);
    width: 60vw;
    height: 35vw;
    margin-right: 5%;
    margin-top: 5%;
    padding: 1%;
  }
  #blog .author:hover {
    text-shadow: none;
  }
  #blog .author .imageContainer {
    width: 17vw;
    height: 17vw;
  }
  #blog .author .name-and-socials {
    width: 50%;
  }
  #blog .author .name-and-socials h2 {
    font-size: large;
    color: black;
  }

  #blog .author .socials {
    height: 30px;
    font-size: 2rem;
  }
  #blog .author .socials path {
    color: black;
  }
}
